@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

.card-text-title {
    font-size: 1.4rem;
    text-align: center;
}
.card-text-paragraph {
    color: $grayish-blue;
    text-align: center;
}

