body {
    background-color: $ligh-gray;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
main { 
    background-color: $white;
	margin: 0 auto;
    padding: 15px;
    max-width: 275px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px rgba(163,160,163,1);
}
img {
    border-radius: 10px;
    display: block;
    max-width: 100%;
}